# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names / ID

- Lan Wei       
- Sean Race     
- Weilun Yao    
- Shine Paek     
- Kyosuke Goto

# Group Members IDs

- A########
- A########
- A########
- A########

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

What modules did we use?

In [10]:
## YOUR CODE HERE
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from zipfile import ZipFile

# ADD MORE AS NEEDED

# Data Cleaning

Describe your data cleaning steps here.

TODO: What are we doing

In [11]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

### KAGGLE Data

In [16]:
# Read in Kaggle Data (TODO: RENAME 'master.csv')
kdf = pd.read_csv('master.csv')

# WHAT DO WE KEEP? (Need to discuss)
# Drop suicide_no, country-year, gdp_for_year($)
kdf.drop(['suicides_no','population','country-year',' gdp_for_year ($) '], axis=1,inplace=True)

# Restrict Data to United States
kdf = kdf[kdf['country'] == 'United States']

# Only 'HDI for year' contains missing values
# srk.isnull().any()

kdf.head(n=15)

,country,year,sex,age,suicides/100k pop,HDI for year,gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,53.57,0.841,19693,G.I. Generation
26849,United States,1985,male,55-74 years,29.50,0.841,19693,G.I. Generation
26850,United States,1985,male,25-34 years,24.46,0.841,19693,Boomers
26851,United States,1985,male,35-54 years,22.77,0.841,19693,Silent
26852,United States,1985,male,15-24 years,21.38,0.841,19693,Generation X
26853,United States,1985,female,35-54 years,7.58,0.841,19693,Silent
26854,United States,1985,female,55-74 years,7.34,0.841,19693,G.I. Generation
26855,United States,1985,female,75+ years,6.24,0.841,19693,G.I. Generation
26856,United States,1985,female,25-34 years,5.90,0.841,19693,Boomers
26857,United States,1985,female,15-24 years,4.36,0.841,19693,Generation X
26858,United States,1985,male,5-14 years,1.18,0.841,19693,Generation X
26859,United States,1985,female,5-14 years,0.44,0.841,19693,Generation X
26860,United States,1986,male,75+ years,56.01,NaN,20588,G.I. Generation
26861,United States,1986,male,55-74 years,30.39,NaN,20588,G.I. Generation
26862,United States,1986,male,25-34 years,25.48,NaN,20588,Boomers

### CDC DATA (https://www.cdc.gov/nchs/data/dvs/Record_Layout_2013.pdf)

In [13]:
## 2013 Data (EXTRACTS ZIP. SLOW.)

# cdcZip   = 'mort2013us.zip'
# datafile = 'VS13MORT.DUSMCPUB'

# with ZipFile(cdcZip, 'r') as z:
#     z.extract(datafile)

#! head -5 $datafile

In [6]:
### Watch out for Memory Usage

import csv
import io

# Set order of Columns
fields = ['Data year',
          'Month of Death',
          'Manner of Death',
          'Place of Death',
          'Sex',
          'Race',
          'Education 1989 Revision',
          'Education 2003 Revision',
          'Education Reporting Flag',
          'Age',
          'Age Recode 52',
          'Age Recode 27',
          'Age Recode 12',
          'Age Recode 22',
          'Martial Status',
          'Hispanic origin',
          'Resident Status'
          ]

out = io.StringIO()
cw = csv.DictWriter(out,fields)
cw.writeheader()

# Parse each line of text file for information, save to CSV
# Index found in CDC DOC. Note (actual_index-1)
with open(datafile,'r') as inFile:
    for line in inFile:
        row = {
            'Resident Status'         :line[19],
            'Education 1989 Revision' :line[60:62],
            'Education 2003 Revision' :line[62],
            'Education Reporting Flag':line[63],
            'Month of Death'          :line[64:66],
            'Sex'                     :line[68],
            'Age'                     :line[69:73],
            'Age Recode 52'           :line[74:76],
            'Age Recode 27'           :line[76:78],
            'Age Recode 12'           :line[78:80],
            'Age Recode 22'           :line[80:82],
            'Place of Death'          :line[82],
            'Martial Status'          :line[83],
            'Data year'               :line[101:105],
            'Manner of Death'         :line[106],
            'Race'                    :line[444:446],
            'Hispanic origin'         :line[483:486]            
          }
        cw.writerow(row)
    
out.seek(0)

# Read tempolary CSV
cdf = pd.read_csv(out, dtype=object)
cdf.head()

,Data year,Month of Death,Manner of Death,Place of Death,Sex,Race,Education 1989 Revision,Education 2003 Revision,Education Reporting Flag,Age,Age Recode 52,Age Recode 27,Age Recode 12,Age Recode 22,Martial Status,Hispanic origin,Resident Status
0,2013,01,7,6,M,01,15,,0,1090,44,24,11,,M,100,1
1,2013,01,7,6,F,01,12,,0,1080,42,22,10,,W,100,1
2,2013,01,7,6,M,01,17,,0,1073,40,20,09,,D,100,2
3,2013,01,7,1,M,03,99,,0,1078,41,21,10,,M,100,1
4,2013,01,7,6,F,01,12,,0,1083,42,22,10,,D,100,1

In [7]:
# Turn empty value into NaN
cdf.replace(to_replace=r'^\s+$', value=np.nan, regex=True, inplace=True)

# Only keep if cause of death is suicide
cdf = cdf[cdf['Manner of Death'] == '2']

# ???

In [9]:
cdf.head()
# TODO

,Data year,Month of Death,Manner of Death,Place of Death,Sex,Race,Education 1989 Revision,Education 2003 Revision,Education Reporting Flag,Age,Age Recode 52,Age Recode 27,Age Recode 12,Age Recode 22,Martial Status,Hispanic origin,Resident Status
62,2013,01,2,7,M,03,99,NaN,0,1024,30,10,04,NaN,S,100,1
111,2013,01,2,4,F,01,08,NaN,0,1014,28,08,03,NaN,S,100,1
115,2013,01,2,4,M,03,12,NaN,0,1037,33,13,06,NaN,S,100,1
128,2013,01,2,4,M,03,12,NaN,0,1038,33,13,06,NaN,S,100,1
141,2013,01,2,4,M,03,14,NaN,0,1027,31,11,05,NaN,S,100,1

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [1]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*